<form action="/login" method="post" enctype="x-www-form-urlencoded" class="col padding">
    <p class="form-p small">
        <label for="login-name-input">Name</label>
        <input type="text" name="name" id="login-name-input">
    </p>
    <p class="form-p small">
        <label for="login-password-input">Password</label>
        <input type="password" name="password" id="login-password-input">
    </p>
    <p>
        <button type="submit" class="btn green-btn white-txt" style="padding:5px 10px">Login</button>
    </p>
</form>
<img id="close-btn" class="icon-btn" src="/img/close.png" alt="" tabindex="0" role="button" onclick="toggleThis('login')">