<script>navitem = 'nav-about';</script>

<main class="col" aria-labelledby="heading-about">
    <h2 id="heading-sets">About</h2>
    <p>This page is under construction</p>
    <img src="/img/construction.jpg">
</main>