<script>navitem = 'nav-blog';</script>

<main class="col inset-box" aria-labelledby="heading-blog">
    <h2 id="heading-blog">Blog</h2>
    <p>This page is under construction</p>
    <img src="/img/construction.jpg">
</main>