<script>navitem = 'nav-home';</script>

<main class="col inset-box" aria-labelledby="heading-home">
    <h2 id="heading-home">Welcome</h2>

    <!-- Login -->
    <form action="/login" method="post" enctype="x-www-form-urlencoded">
        <p class="form-p small">
            <label for="login-name-input">Name</label>
            <input type="text" name="name" id="login-name-input">
        </p>
        <p class="form-p small">
            <label for="login-password-input">Password</label>
            <input type="password" name="password" id="login-password-input">
        </p>
        <p class="col">
            <button type="submit" class="btn green-btn white-txt">Login</button>
        </p>
    </form> 

</main>